*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}
#navbar{
    color: darkcyan;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: palegreen;
}
#div1{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}
.logo{
    width: 50px;
    border-radius: 5px;
}
img{
    width: 500px;
    height: 500px;
}
#div2{
    display: flex;
    gap: 70px;
    align-items: center;
    margin-right: 40px;
    color: white;
}
#div2 a{
    text-decoration: none;
    color: white;
}
#div2 a:hover{
    color: dodgerblue;
    text-decoration: underline;
}
.cbtn{
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 20px;
    color: black;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    border: none;
    background-color: rgb(79, 0, 170);
}
.cbtn:hover{
    background: #fff;
    color: rgb(79, 0, 170);
}
.hero{
    background-color:#06202B;
    display: flex;
    justify-content: space-between;

}
.hero-content{
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
   padding-bottom: 170px;
   padding-top: 150px;
}
h2{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: #fff;
}
.hero-content p{
    margin-bottom: 1rem;
    color: white;
}
.div3{
    margin-left: 40px;
    width: 80%;
}
.button1{
    color: white;
    padding: 0.8rem 1.3rem;
    border-radius: 60px;
    border: none;
    background: rgb(79, 0, 170);
    margin-left: 40px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.button2{
    border-color: white;
    padding: 0.8rem 1.3rem;
    border-radius: 60px;
    background-color: #06202B;
    color: white;
    transition: all 0.3s ease;
}
.button1:hover{
    color: rgb(79, 0, 170);
    background: white;
}
.button2:hover{
    background-color: white;
    color: #06202B;
}
#boxes{
    background: #fff;
    padding: 2rem 0;
    width: 95%;
    margin-left: 30px;
    box-shadow: 4px 10px grey;
}
.div-box{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
}
.mentor-div{
    margin-right: 150px;
    margin-bottom: 40px;
}
.mentor-div img{
    height: 330px;
    border-radius: 50px;
    box-shadow: 10px 10px white;
    margin-top: 140px;
}
#services-provided{
    color: black;
    text-align: center;
    padding-bottom: 20rem;
}
#services-provided p{
    padding-bottom: 10rem;
}
.heading{
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 10rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}
.krish1{
    position: absolute;
    margin-left: 50px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(79, 0, 170)


}
.krish2{
    margin-left: 450px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    position: absolute;
    border: 1px solid rgb(79, 0, 170)

}
.krish3{
    margin-left: 850px;
    position: absolute;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(79, 0, 170)

}
.krish4{
    margin-left: 1250px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(79, 0, 170)

}
.krish5{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(79, 0, 170)
    

}
.krish6{
    position: absolute;
    margin-top: 50px;
    margin-left: 450px;
    
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(79, 0, 170)

}
.krish7{
    position: absolute;
    margin-left: 850px;
    margin-top: 50px;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(79, 0, 170)

}
.krish8{
    margin-left: 1250px;
    margin-top: 50px;
    align-items: center;
    height: 300px;
    width: 300px;
    background: white;
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid rgb(79, 0, 170)
}
